---
layout: base.njk
title: Not found
permalink: /404.html
---
<div class="wrap page-head"><h1>That page isn't here.</h1><p class="lede">Try <a href="/book/">the book</a> or <a href="/">the front page</a>.</p></div>
<div style="height:4rem"></div>
