---
layout: base.njk
title: Act I
permalink: /act-one/
eleventyExcludeFromCollections: true
---
<div class="wrap page-head"><h1>Here's Act I.</h1><p class="lede">Your copy is on its way to your inbox as well. <a class="btn" href="/files/traddyland-act-one.pdf" download>Download the PDF</a></p><p>Ready for the rest? <a href="{{ site.amazon }}">Get the book on Amazon.</a></p></div>
<div style="height:4rem"></div>
