---
layout: base.njk
title: Thank you
permalink: /thanks/
---
<div class="wrap page-head"><h1>Thank you.</h1><p class="lede">Lou will be in touch. In the meantime, <a href="/book/">here's more about the book</a>.</p></div>
<div style="height:4rem"></div>
